html, body {margin: 0; height: 100%; overflow: hidden}

img { width: 100%; }

#logo { 
	padding: 10%;
	width: 80%;
	user-select: none;
}

.navItem {
	list-style: none;
	border: 1px solid white;
	background-color: rgba(255,255,255,0.75);	
	border-radius: 100%;
	padding: 1em;
	transition: all .25s;
	margin: .5em;
	margin-bottom: 2em;
}

.navItem:hover {
	background-color: rgba(255,255,255,.6);	
}

.navItem:active {
	background-color: rgba(255,255,255,1);	
	border: 1px solid white;
}

.navItem img {
	user-select: none;
}

#whiteboardHeader {
	position: fixed;
	top: 0;
	left: 0;
	width: 5%;
	min-width: 70px;
	height: 100%;	
	/*border-right: 1px solid grey;*/

	z-index: 99999;

	/*background:
		radial-gradient(black 15%, transparent 16%) 0 0,
		radial-gradient(black 15%, transparent 16%) 8px 8px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
		radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
	background-color:#282828;
	background-size:16px 16px;*/

	background:
		linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
		linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
		linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
		linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
		linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
		linear-gradient(#1d1d1d 25%, #1a1a1a 25%, #1a1a1a 50%, transparent 50%, transparent 75%, #242424 75%, #242424);
	background-color: #131313;
	background-size: 20px 20px;
}

/**/
#whiteboardHeader > ul {
	padding: 0;
	list-style-type: none;
}

#whiteboard_canvas {
	/* cursor: crosshair; */
	/* cursor: url('img/dot.png'), crosshair; */
	user-select: none;
	position: fixed;
	left: 5%;

	/*border: 1px solid red;*/
	z-index: 1;	

	background: linear-gradient(90deg, white 33px, transparent 1%) center, linear-gradient(white 33px, transparent 1%) center, rgba(0, 0, 0, 0.15);
	background-size: 35px 35px;
}

#colorpickerButton {
	/*background: url(./img/picker.svg)*/
	width: 90%;
	height: 50px;
}


.activeButton {
	background-color: white !important;
}


